.App {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10vh 90vh;
  grid-row: 2 / 3;
  text-align: center;
  background-image: linear-gradient(180deg, #facc8c, #ffa550);
}

.Header {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #fcd6a1;
  justify-content: center;
  align-items: center;
}

.Header> img {
  width: 150px;
}

.Produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:33,33% 33,33% 33,33%;
  text-align: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5%;
  height: 70%;
}

.Card {
  border: 1px solid;
  border-radius: 3%;
  height: 100px;

}
.Card> img {
  width: 200px;
}